[submodule "Bedrock/thirdparty/rapidhash"]
	path = Bedrock/thirdparty/rapidhash
	url = https://github.com/jlaumon/rapidhash
[submodule "Bedrock/thirdparty/stb"]
	path = Bedrock/thirdparty/stb
	url = https://github.com/nothings/stb.git
